<!DOCTYPE html>
<html lang="<%= current_page.data.lang || 'en' %>">

<head>
  <!-- Crawlers -->
  <link rel="canonical" href="https://bloomline.com<%= current_page.url %>">
  <meta name="robots" content="index, follow">

  <!-- Metadata -->
  <meta charset="utf-8">
  <title><%= current_page.data.title || "Bloomline Acoustics, inventors of Omniwave" %></title>
  <meta name="description" content="<%= current_page.data.description %>">
  <meta name="keywords" content="<%= current_page.data.keywords %>">
  <meta name="copyright" content="Bloomline Acoustics BV">
  <meta name="author" content="<%= current_page.data.author || 'Bloomline Acoustics BV' %>">
  <meta name="designer" content="Jorn Mineur">
  <meta name="web_author" content="Jorn Mineur">

  <!-- Icons -->
  <link rel="icon" type="image/svg+xml" href="/images/icons/bloomline.svg">
  <link rel="mask-icon" href="/images/icons/bloomline.svg" color="red">

  <!-- Styles and viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/fonts.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/site.css">
</head>

<body>
  <nav class="mainnav">
    <a class="topmenu topmenu-home" href="/"><img class="mainnav-home-logo" src="/images/logos/bloomline-logo-black-bg.svg" width="113" height="29"></a>
    <input type="checkbox" class="topmenu topmenu-switch">
    <span class="hamburger">☰</span>
    <a href="/history/">History</a>
    <a href="/technology/">Technology</a>
    <a href="/omnidrive-pro/">Omnidrive Pro</a>
    <a href="/omnidrive-c/">Omnidrive C</a>
    <a href="/phantom-ii/">Phantom II</a>
    <a href="/in-the-media/">In the media</a>
    <a href="/partners/">Partners</a>
    <a href="/contact/">Contact</a>
    <a class="social-media" href="https://facebook.com/Bloomline.Acoustics"><img src="/images/icons/facebook.svg" height="48" width="48"></a>
    <a class="social-media" href="https://nl.linkedin.com/company/bloomline"><img src="/images/icons/linkedin.svg" height="78" width="77"></a>
  </nav>
  <article>
    <%= yield %>
  </article>
  <footer>
    <%= yield_content :footer %>
    <p>
      &copy; Bloomline Acoustics BV. All rights reserved
      <br>Omniwave® is a registered trademark of Bloomline Studio BV.
    </p>
    <p>
      <a href="/terms-of-use/">Terms of Use</a>
      |
      <a href="/privacy/">Privacy Statement</a>
    </p>
  </footer>
</body>

</html>