<!DOCTYPE html>
<html lang="<%= current_page.data.lang || 'en' %>">

<head>
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://www.bloomline.com<%= current_page.url %>">

  <!-- Title, description, keywords -->
  <title><%= current_page.data.title || "Bloomline Acoustics BV" %></title>
  <meta name="description" content="<%= current_page.data.description %>">
  <meta name="keywords" content="<%= current_page.data.keywords %>">

  <!-- Icons -->
  <link rel="icon" type="image/svg+xml" href="/images/icons/bloomline.svg">
  <link rel="mask-icon" href="/images/icons/bloomline.svg" color="red">

  <!-- Styles and viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'fonts', 'normalize', 'site' %>
</head>
<body>
  <nav class="mainnav">
    <a class="topmenu topmenu-home" href="/"><img class="mainnav-home-logo" src="/images/logos/bloomline-logo-black-bg.svg" width="121" height="35"></a>
    <input type="checkbox" class="topmenu topmenu-switch">
    <span class="hamburger">☰</span>
    <a href="/history/">History</a>
    <a href="/technology/">Technology</a>
    <a href="/omnidrive-pro/">Omnidrive Pro</a>
    <a href="/omnidrive-c/">Omnidrive C</a>
    <a href="/phantom-ii/">Phantom II</a>
    <a href="/in-the-media/">In the media</a>
    <a href="/partners/">Partners</a>
    <a href="/contact/">Contact</a>
    <a class="social-media" href="https://facebook.com/Bloomline.Acoustics"><img src="/images/icons/facebook.svg" height="48" width="48"></a>
    <a class="social-media" href="https://nl.linkedin.com/company/bloomline"><img src="/images/icons/linkedin.svg" height="78" width="77"></a>
  </nav>
  <article>
    <%= yield %>
  </article>
  <footer>
    <%= yield_content :footer %>
    <p>&copy; Bloomline Acoustics BV. All rights reserved</p>
    <p>
      <a href="/terms-of-use/">Terms of Use</a>
      |
      <a href="/privacy/">Privacy Statement</a>
    </p>
  </footer>
</body>

</html>